node_modules
.env
.DS_Store
/.gadget
dist
/aws-backend/*sm-ep-embed-image

**/node_modules*
**/dist*
**/*venv
**/*model
**/.editorconfig
**/*.safetensors

**/vit*/*.json
**/vit*/*.bin
**/vit*/*.tar.gz

**/*lip*/*.json
**/*lip*/*.txt
**/*lip*/*.bin
**/*lip*/*.tar.gz
**/*lip*/*.md

**/git-base/*.json
**/git-base/*.txt
**/git-base/*.bin
**/git-base/*.tar.gz
**/git-base/*.md
