node_modules
.env
.DS_Store

**/node_modules*
**/dist*
**/*venv
**/*model
**/.editorconfig
**/*.safetensors

**/vit*/*.json
**/vit*/*.bin
**/vit*/*.tar.gz

**/clip*/*.json
**/clip*/*.txt
**/clip*/*.bin
**/clip*/*.tar.gz
