node_modules
.env
.DS_Store
/aws-backend/*sm-ep-embed-image

**/node_modules*
**/dist*
**/*venv
**/*model
**/.editorconfig
**/*.safetensors

**/vit*/*.json
**/vit*/*.bin
**/vit*/*.tar.gz

**/clip*/*.json
**/clip*/*.txt
**/clip*/*.bin
**/clip*/*.tar.gz
